.Container {
  min-height: 100vh; /* to be deleted later */

  display: flex;
  position: relative;
}

/* //////////////////////////////////////////// */

.Navbar {
  width: 5%;
}
.mainContent {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  margin: auto;
}
.mainContent .centerPart {
  width: 100%;
  overflow-x: auto;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .mainContent {
    flex-direction: column-reverse;
    margin-left: 25px;
  }
  .mainContent .centerPart {
    width: 95%;
    margin-left: 25px;
  }
}
