.Container {
  min-height: 100vh; /* to be deleted later */
  width: 100%;
  display: flex;
  position: relative;
}

/* //////////////////////////////////////////// */

.Navbar {
  width: 5%;
}
.mainContent {
  width: 95%;
  /* padding: 20px 30px; */
  display: flex;
  /* margin: 20px 1%; */
}
.mainContent .centerPart {
  width: 100%;
  margin-left: 20px;
  overflow-x: auto;
  margin-top: 25px;
}

@media screen and (max-width: 992px) {
  .mainContent {
    flex-direction: column-reverse;
    margin-left: 25px;
  }

  .mainContent .centerPart {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .mainContent .centerPart {
    max-width: 95%;
    overflow-x: hidden;
    margin-left: 25px;
  }
}
